# ktor
KTOR_ENV=dev
HOST=localhost
PORT=8080

# database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=toyokawa
DB_SCHEMA=toyokawa
DB_USER=admin
DB_PASSWORD=dummy
DB_DRIVER="org.postgresql.Driver"

# otel
OTEL_TRACES_EXPORTER=otlp
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
OTEL_EXPORTER_OTLP_ENDOPOINT=http://localhost:4317

# jwt
JWT_SECRET="dummy"
JWT_ISSUER="dummy"
JWT_AUDIENCE="dummy"
