# ktor
KTOR_ENV=dev
HOST=localhost
PORT=8080
DEV_MODE=true

# database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=toyokawa
DB_URL="jdbc:postgresql://$DB_HOST:$DB_PORT/$DB_NAME"
DB_USER=admin
DB_PASSWORD=dummy
DB_DRIVER="org.postgresql.Driver"

# otel
OTEL_TRACES_EXPORTER=otlp
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
OTEL_EXPORTER_OTLP_ENDOPOINT=http://localhost:4317
